.modal {
  padding: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabs {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
}
