.root {
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  width: 120px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.endInfo {
  display: flex;
  align-items: center;
  gap: 20px;
}
